<!-- wp:group {"layout":{"type":"default"}} -->
<div class="wp-block-group">
  <!-- wp:group {"layout":{"type":"default"}} -->
  <div class="wp-block-group">
    <!-- wp:template-part {"slug":"header","theme":"blocktheme","area":"header"} /-->

    <!-- wp:spacer {"height":"57px"} -->
    <div style="height: 57px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns -->
    <div class="wp-block-columns">
      <!-- wp:column {"width":"66.66%"} -->
      <div class="wp-block-column" style="flex-basis: 66.66%">
        <!-- wp:heading {"textAlign":"center","fontSize":"XXX-large"} -->
        <h2
          class="wp-block-heading has-text-align-center has-xxx-large-font-size"
        >
          404 Not Found!
        </h2>
        <!-- /wp:heading -->

        <!-- wp:search {"label":"Search","buttonText":"Search"} /-->

        <!-- wp:buttons -->
        <div class="wp-block-buttons">
          <!-- wp:button -->
          <div class="wp-block-button">
            <a
              class="wp-block-button__link wp-element-button"
              href="https://blocktheme.test/"
              >Go to Home</a
            >
          </div>
          <!-- /wp:button -->
        </div>
        <!-- /wp:buttons -->
      </div>
      <!-- /wp:column -->
    </div>
    <!-- /wp:columns -->

    <!-- wp:template-part {"slug":"footer","theme":"blocktheme","area":"footer"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
